@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  font-family: "Poppins", sans-serif;
  background-color: #fbf8cc;
  color: #03045e;
  background-image: url("Home.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}
